main {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  justify-content: center;
  gap: 40px;
  overflow-x: hidden;
}

@media screen and (max-width: 888px) {
  main {
    grid-template-columns: 2% 1fr 1fr 2%;
  }
}

@media screen and (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }
}

header {
  grid-column: 3 / -1;
}

@media screen and (max-width: 500px) {
  header {
    grid-column: 1 / -1;
    text-align: center;
    background-image: linear-gradient(to right, white, #2c6a9b);
    background-image: -webkit-linear-gradient(right, white, #2c6a9b);
  }
}

.history {
  grid-column: 2 / -2;
}

@media screen and (max-width: 500px) {
  .history {
    grid-column: 1;
    margin: 0 15px;
  }
}

.searchAndImg {
  align-self: flex-start;
  grid-column: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
}

@media screen and (max-width: 500px) {
  .searchAndImg {
    grid-column: 1;
    margin: 0 15px;
  }
}

#controles {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 500px) {
  #controles {
    grid-column: 1;
    margin: 0 15px;
  }
}

footer {
  grid-column: 1 / -1;
  text-align: center;
  background-image: linear-gradient(to right, white, #2c6a9b);
  background-image: -webkit-linear-gradient(right, white, #2c6a9b);
}

body, h1, h2, p, ul, li, select, input, button, main, span, footer {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

header {
  margin-top: 40px;
  background-image: linear-gradient(to right, white, #2c6a9b);
  background-image: -webkit-linear-gradient(right, white, #2c6a9b);
  border-top-left-radius: 50px 20px;
  border-bottom-left-radius: 50px 20px;
}

@media screen and (max-width: 500px) {
  header {
    text-align: center;
    margin-top: 0;
    border-top-left-radius: 0 0;
    border-bottom-left-radius: 0 0;
  }
}

p {
  font-family: Helvetica, sans-serif;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
  text-indent: 15px;
  font-size: 1.125em;
  line-height: 1.66667em;
}

@media screen and (max-width: 888px) {
  p {
    font-family: Helvetica, sans-serif;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
    text-indent: 15px;
    font-size: 1em;
    line-height: 1.5625em;
  }
}

button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 1em;
  line-height: 1.875em;
  text-align: center;
  color: #FFF;
  padding: 8px;
  cursor: pointer;
  background: #4785b6;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
  transform: scale(1.1);
  color: #325d7f;
}

header h1, footer h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #FFF;
  text-transform: capitalize;
  margin: 0;
  padding: 20px;
}

header h1::before, footer h1::before {
  content: 'bon';
  color: transparent;
  background: url("../img/bone.svg") no-repeat center center;
  background-size: 40px;
}

header h1::after, footer h1::after {
  content: 'bon';
  color: transparent;
  background: url("../img/bone.svg") no-repeat center center;
  background-size: 40px;
}

.history h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media screen and (max-width: 888px) {
  .history h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 1.25em;
    line-height: 1.25em;
  }
}

.history h1::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 65px;
  height: 2px;
  background: rgba(0, 0, 0, 0.8);
}

select, input {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-family: Helvetica, sans-serif;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
  text-indent: 15px;
  font-size: 1em;
  line-height: 1.5625em;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

#controles p, .dogsSelect p {
  text-indent: 0;
  font-weight: bold;
  margin: 15px 0;
}

#controles p::after, .dogsSelect p::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 65px;
  height: 2px;
  background: rgba(0, 0, 0, 0.8);
}

input[type="color"] {
  padding: 3px;
}

.dogsSelect {
  align-self: flex-start;
  padding: 30px 0;
}

.fieldSearch {
  align-self: flex-start;
  width: 100%;
  max-height: 85px;
  flex: 1;
  display: flex;
}

.fieldSearch input[type="text"] {
  height: 45px;
}

.dogName {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 14px;
  animation: dots 0.6s cubic-bezier(0.6, 0.1, 1, 0.4) infinite alternate;
}

.loading span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading span:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes dots {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 30px, 0);
  }
}

.onSave {
  display: none;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 100;
  top: 120px;
  left: 0;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 80px;
  background: #4785b6;
  border-radius: 4px;
}

.on {
  display: block;
}
